.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-1-square:hover
{
    background-color: red;
    transition: 3s;
}

.ex-2-square:active
{
    width: 100%;
    transition: 5s;
}

.ex-3-square:hover
{
    border-radius: 50%;
    transition: 3s;
}

.ex-4-square:hover
{
    opacity: 0;
    transition: 3s;
}

.ex-5-square:hover
{
    transform: scale(2);
    transition: 2s;
}

.ex-5-square:active
{
    transform: scale(0.5);
    transition: 2s; 
}

.ex-6-img:hover
{
    filter: grayscale(100%);
}

.ex-7-img:hover
{
    filter: blur(2px) sepia(100%);
    transition: 3s;
}

.ex-8-img:hover
{
    filter: brightness(100%) saturate(8);
    border-radius: 100px;
    transition: 3s;
}

.ex-9-img:hover
{
    filter: blur(1px) grayscale(100%);
    border-radius: 100px;
    scale: 1.5;
    transition: 5s;
}

.ex-10-icon
{
    animation: spin 2s linear infinite;
}

@keyframes spin
{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ex-11-icon
{
    animation: spin2 2s linear infinite;
}

@keyframes spin2
{
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.ex-12-button:hover .ex-12-top-white
{
    animation: movetop 2s linear infinite;
}

@keyframes movetop
{
    0% {
        left: 10%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white
{
    animation: movebottom 2s linear infinite;
}

@keyframes movebottom
{
    0% {
        right: 20%;
    }

    50% {
        right: 50%;
    }

    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white
{
    animation: movearoundtop 7s linear infinite;
}

@keyframes movearoundtop
{
    0% {
        left: 0%;
        top: -10px;
    }

    25% {
        left: 80%;
        top: -10px;
    }


    50% {
        left: 80%;
        top: 60px;
    }

    75% {
        left: -10%;
        top: 60px;
    }

    100% {
        left: -10%;
        top: -10px;
    }

}

.ex-13-button:hover .ex-13-bottom-white
{
    animation: movearoundbottom 7s linear infinite;
}

@keyframes movearoundbottom
{
    0% {
        right: 0%;
        bottom: -10px
    }

    25% {
        right: 80%;
        bottom: -10px
    }


    50% {
        right: 80%;
        bottom: 60px
    }

    75% {
        right: -10%;
        bottom: 60px
    }

    100% {
        right: -10%;
        bottom: -10px
    }

}